:root {
    --text-color: #FFFFFF;
    --accent: #BAE249;
    --text-muted: #899D9D;
    --green: #506829;
    --black: #0B1919;

    --font-main: "Open Sans", sans-serif;
    --font-title: "Cormorant", serif;

    --bg-color: #1d2f30;

    --ui-click: #688B05;
    --ui-hover:#BAE249;
    --ui-hover2: #91AC46;
    --ui-disable: #899D9D;
    --ui-focus: #83A440;

}



.retina-bg(@image) {
    @media (-webkit-min-device-pixel-ratio: 2), 
        (min-resolution: 192dpi) {
                background-image: linear-gradient(rgba(29, 47, 48, 0.7), rgba(29, 47, 48, 0.7)), url(@image);}
}


.media-tabled(@rules) {
    @media (max-width: 768px) {
        @rules();
    }
}

.media-mobile(@rules) {
    @media (max-width: 270px) {
        @rules();
    }
}