.about {
    padding-bottom: 60px;
}

.about__title {
    font-family: var(--font-title);
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    line-height: 100%;
    margin-bottom: 30px;
}

.about-row {
    display: grid;
    grid-template-columns: 1fr 255px;
    column-gap: 30px;
    
    align-items: stretch;

    .media-tabled ({
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 30px;
    })
}


.about .learn-more-link {
    position: absolute;
    bottom: 24px;
    color: var(--black);

    &:hover {
        color: var(--green);
    }

    &:active {
        color: var(--black);
    }

    .media-tabled ({
        margin-top: 76px;
    })
}

@media (max-width: 1090px) {
    .about .learn-more-link {
        position: static;
        margin-top: 25px;
    }

}
