.hero {
    width: 100%;
    min-height: 50vh;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    
    background-image: 
        linear-gradient(rgba(29, 47, 48, 0.7), rgba(29, 47, 48, 0.7)),
        url("./../../img/bg/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .retina-bg('./../../img/bg/hero-bg@3x.jpg');
}
.hero__title {
    font-family: var(--font-title);
    font-size: 60px;
    line-height: 100%;
    font-weight: bold;
    max-width: 688px;
    
    margin-bottom: 16px;
}
.hero__text {
    max-width: 635px;
    margin-bottom: 19px;
}

.hero .learn-more-link  {
    color: var(--accent);

    &:hover{
        color: var(--ui-hover2);
    }

    &:active {
        color: var(--ui-click);
    }
}

@media (max-width: 880px) {
    .hero__title {
        font-size: 56px;
    }
}

@media (max-width: 540px) {
    .hero__title {
        font-size: 48px;
    }
    .hero__text {
        display: none;
    }

    .hero {
        min-height: 40vh;
    }
    
}

@media (max-width: 270px) {
    .hero__title {
        font-size: 30px;
    }
    
}

