.img-number {
    position: relative;

    &::after {
        color: var(--text-muted);
        font-family: var(--font-title);
        font-weight: bold;

        border: solid 1px var(--text-muted);
        border-radius: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        position: absolute;

        content: attr(data-number);
    }
}

.number-polypody {
    position: relative;
    //left: -37px;
    left: -4.5%;
}

.number-moss-small::after {
    bottom: 0;
}

.number-moss::after {
    top: 0;
    //right: -13px;
    right: -8%;

    .media-tabled ({
        right: -15%;
    })
}

.number-stick::after {
    //top: 34px;
    //left: 130px;
    top: 23%;
    left: 31%;

    .media-tabled ({
        top: 15%;
        left: 20%;
    })
}

.number-flower::after {
    //top: 187px;
    top: 64%;
    left: 50%;
}

.number-polypody::after {
    bottom: 0;
    //right: 20px;
    right: 13%;
    .media-tabled ({
        right: 0;
    })
}

.number-bark::after {
    top: 0;
    //right: -8px;
    right: -5%;
}

.number-flower-closed::after {
    bottom: 0;
    //left: 54px;
    left: 45.4%;
}


.number-plant::after {
    top: -14px;
    left: 0;
}
