.learn-more-link {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    column-gap: 8px;
}
.link__text {
    font-weight: bold;
    align-self: center;
}
.link__icon {
    align-self: center;
}