@link-padding: 10px;

.nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
}

.header-wrapper {
    display: flex;
    column-gap: min(105px, 10vw);
}

.header-logo-link {
    padding: @link-padding;
}
.header-logo-img {
    width: 65px;
    height: 20px;
}
.nav-menu {
    display: flex;
    column-gap: min(44px,8vw);
    align-items: center;
}
.nav-menu__link {
    padding: @link-padding;
}

.header-buttons {
    display: flex;
    column-gap: min(44px,8vw);
    align-items: center;
}
.search {
    padding: @link-padding;
}
.log-in {
    padding: @link-padding;
}

