@link-padding: 10px;

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;

    .media-tabled ({
        position: relative;
    })
}

.nav-row {
    display: flex;
    column-gap: clamp(30px, calc(-4.911rem + 14.14vw), 125px);
}

.nav__logo-link {
    padding: @link-padding;

    &:focus {
        outline: none;
    }
}

.nav__logo-img {
    width: 65px;
    height: 20px;
}

.nav-menu {
    display: flex;
    column-gap: clamp(10px, calc(-3.232rem + 8.04vw), 64px);
    align-items: center;

    .media-tabled ({
        position: absolute;
        
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);

        max-width: 100%;
        z-index: 5;

        
        -ms-overflow-style: none;
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: none;
        overflow-y: hidden;
    })
}

.nav-menu::-webkit-scrollbar {
    .media-tabled ({
        display: none;
    })      
}

.nav-menu__link {
    padding: @link-padding;
    transition: color 0.3s ease;

    &:hover {
        color: var(--ui-hover);
    }

    &:active {
        color: var(--ui-click);
    }
}

.nav__buttons {
    display: flex;
    column-gap: clamp(15px, calc(-3.737rem + 8.6vw), 64px);
    align-items: center;
}

.search,
.log-in {
    padding: @link-padding;
    color: var(--accent);

    &:hover {
        color: var(--ui-hover2);
    }

    &:active {
        color: var(--ui-click);
    }
}

@media (max-width: 1000px) {
    .nav__buttons svg {
        width: 20px;
        height: auto;
    }
}