@link-padding: 10px;

.nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
}
.nav-row {
    display: flex;
    column-gap: min(105px, 10vw);
}

.nav__logo-link {
    padding: @link-padding;

    &:focus {
        outline: none;
    }
}

.nav__logo-img {
    width: 65px;
    height: 20px;
}

.nav-menu {
    display: flex;
    column-gap: min(44px,8vw);
    align-items: center;
}
.nav-menu__link {
    padding: @link-padding;
    transition: color 0.3s ease;

    &:hover {
        color: var(--ui-hover);
    }

    &:active {
        color: var(--ui-click);   
    }
}

.nav__buttons {
    display: flex;
    column-gap: min(44px,8vw);
    align-items: center;
}
.search,
.log-in {
    padding: @link-padding;
    color: var(--accent);

    &:hover {
        color: var(--ui-hover2);
    }

    &:active {
        color: var(--ui-click);
    }
}
