.news {
    padding-bottom: 60px;
}

.news__title {
    font-family: var(--font-title);
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    line-height: 100%;
    margin-bottom: 30px;
}

.news-row {
    display: grid;
    grid-template-columns: 1fr 255px;
    column-gap: 30px;
}


.news .learn-more-link {
    position: absolute;
    bottom: 24px;
    color: var(--black);

    &:hover{
        color: var(--green);
    }
}


