.samples {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 18px;
    justify-content: space-between;
    background-color: var(--black);
}

.size(@width, @height){
    width: @width;
    height: @height;
}

.samples__img--moss-small {
    .size(100px, 115px);
}
.samples__img--moss {
    .size(170px, 150px);
}
.samples__img--stick {
    .size(423px, 150px);
}
.samples__img--flower {
    .size(306px, 293px);
}
.samples__img--polypody {
    .size(153px, 293px);
}
.samples__img--bark {
    .size(157px, 293px);
}
.samples__img--flower-closed {
    .size(119px, 293px);
}

