.slider__arrows {
    margin-top: 26px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.slider__btn {
    color: var(--text-muted);

    &:hover{
        color: var(--ui-hover);
    }

    &:active{
        color: var(--ui-click);
    }
}
.slider__count {
    font-family: var(--font-title);
    font-size: 24px;
}


